<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= '/style.css') }}">
    <title>Traducteur</title>
</head>
<body>
    <h1>Tanslator</h1>
    <main>
        <div class="form">
            <div class="input">
                {% block content %}
                    <form action="{{ url_for('index') }}" method="POST">
                        <select name="src_input_lang">
                            {% for item in data %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                        <textarea name="input" cols="40" rows="15"></textarea>
            </div>
                    <div class="button">                        
                        <input type="submit" value="Traduire">
                    </div>
            <div class="output">
                <select name='src_output_lang'>
                    {% for item in data %}
                    <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
                <textarea name="output" cols="40" rows="15" >{{ traduction }}</textarea>
                
                {% endblock %}
            </div>
        </div>
    </form>
    </main>
    <script>
        
    </script>

</body>
</html>