<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traducteur</title>
</head>
<body>
    {% block content %}
        <h1>Le traducteur eco+</h1>
        <select>
            {% for item in data %}
                <option>{{ item }}</option>
            {% endfor %}
        </select>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <select>
            {% for item in data %}
                <option>{{ item }}</option>
            {% endfor %}
        </select>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    {% endblock %}
</body>
</html>