<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= '/style.css') }}">
    <title>Traducteur</title>
</head>
<body>
    <h1>Le traducteur eco+</h1>
    <main>
        <div class="form">
            <div class="input">
                {% block content %}
                <form action="{{ url_for('index') }}" method="POST">
                    <select name="src_input_lang">
                        {% for item in data %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                    <textarea name="input" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="output">
                <select name='src_output_lang'>
                    {% for item in data %}
                    <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
                <textarea name="output" id="" cols="30" rows="10" >{{ traduction }}</textarea>
                
                {% endblock %}
            </div>
        </div>
        <div class="button">    
            <input type="submit" value="Traduire">
        </div>
    </form>
    </main>
    <script>
        
    </script>

</body>
</html>